.footer {
    background: #2A293E;
    height: 6rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.card-footer {
    background: #6E4FEF;
    margin-top: -80px;
    padding: 3rem 1.125rem;
    height: 5.3125rem;
    border-radius: 1.125rem;
    width: 7.5rem;
}